db-uri = "postgres://api:changeme@localhost:5432/"
db-schema = "v1"
db-anon-role = "anon"
db-pool = 10

server-host = "127.0.0.1"
server-port = 3000

## base url for swagger output
# server-proxy-uri = ""

## choose a secret, JSON Web Key (or set) to enable JWT auth
## (use "@filename" to load from separate file)
# jwt-secret = "foo"
# secret-is-base64 = false
# jwt-aud = "your_audience_claim"

## limit rows in response
# max-rows = 1000

## stored proc to exec immediately after auth
pre-request = "pre_request"
